.header {
  margin-top: 10%;
  height: 125px;
  font-size: 28px;
  color: black;
  white-space: nowrap;
  padding: 25px;
}

img {
  display: block;
}

.footer {
  height: 125px;
  margin-top: 10%;
}

.chars {
  margin-top: 5%;
}

body {
  text-align: center;
}

hr {
  border: 5px solid black;
}
